@import services.shops.AbstractShop

@(results: Array[(AbstractShop, String, Option[BigDecimal])])

<div class="table-responsive">
    <table class="table table-striped table-hover table-align-middle">
        <tbody>
        @for((shop, url, price) <- results) {
            <tr>
                <td class="text-center w-25">
                    <a href="@shop.url" target="_blank">
                        <img src="@shop.logoUrl" alt="@shop.name logo" title="@shop.name" class="shop__logo">
                    </a>
                </td>
                <td>@shop.name</td>
                <td class="text-center">
                @if(price.isDefined) {
                    <span class="shop__price">@tags.price(price.get)</span>
                } else {
                    <span class="text-muted">Not available</span>
                }
                </td>
                <td>
                @if(price.isDefined) {
                    <a href="@url" target="_blank" class="btn btn-primary">
                        @tags.icon("shopping-cart") Buy at @shop.name
                    </a>
                } else {
                    <a href="@url" target="_blank" class="btn btn-outline-secondary">
                        @tags.icon("log-out") Go to @shop.name
                    </a>
                }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
