@import models.Book
@import services.shops.AbstractShop

@(book: Book, ratings: Map[Long,Int], price: Option[BigDecimal], results: Array[(AbstractShop, String, Option[BigDecimal])])

@layouts.main(book.title) {

    <div class="d-flex flex-row mb-5">
        <div>
            <a href="@book.coverUrl" target="_blank">
                <img src="@book.coverUrl" alt=" " class="book__cover mr-4">
            </a>
        </div>
        <div>
            <h1 class="book__title">@book.title <small class="text-muted">(@book.publicationYear)</small></h1>
            <h2 class="book__authors">@book.authors</h2>
            <div class="text-muted">ISBN: @book.isbn10.toPretty</div>
            <div class="my-3">@tags.stars(book, ratings)</div>
            @if(price.isDefined) {
                <div class="book__price">@tags.price(price.get)</div>
            } else {
                <span class="book__price__badge badge badge-secondary badge-outlined">Not available</span>
            }
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-align-middle">
            <tbody>
                @for((shop, url, price) <- results) {
                    <tr>
                        <td class="text-center w-25">
                            <a href="@shop.url" target="_blank">
                                <img src="@shop.logoUrl" alt="@shop.name logo" title="@shop.name" class="shop__logo">
                            </a>
                        </td>
                        <td>@shop.name</td>
                        <td class="text-center">
                            @if(price.isDefined) {
                                <span class="shop__price">@tags.price(price.get)</span>
                            } else {
                                <span class="text-muted">Not available</span>
                            }
                        </td>
                        <td>
                            @if(price.isDefined) {
                                <a href="@url" target="_blank" class="btn btn-primary">
                                    @tags.icon("shopping-cart") Buy at @shop.name
                                </a>
                            } else {
                                <a href="@url" target="_blank" class="btn btn-outline-secondary">
                                    @tags.icon("log-out") Go to @shop.name
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
