@import tags.{price => _, _}
@import models.Book
@import models.shop.AbstractShop

@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(book: Book, results: Array[(AbstractShop, String, Option[BigDecimal])])

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@layouts.main(book.title + " (" + book.publicationYear.toString + ")") {

    <div class="clearfix mb-5">
        <img src="@book.coverUrl" alt="@book.title cover" class="book__cover">
        <div class="d-inline-block">
            <div class="book__authors">@book.authors</div>
            <h1 class="book__title">@book.title <small class="text-muted">(@book.publicationYear)</small></h1>
            <div class="text-muted">ISBN: @book.isbn10.toPretty</div>
            <div class="my-3">@stars(book.averageRating, book.ratingsCount)</div>
            <div class="book__price">@tags.price(results(0)._3)</div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-align-middle">
            <tbody>
                @for((shop, url, price) <- results) {
                    <tr>
                        <td>
                            <a href="@shop.url" target="_blank">
                                <img src="@shop.logoUrl" alt="@shop.name logo" title="@shop.name" class="shop-logo">
                            </a>
                        </td>
                        <td>@shop.name</td>
                        <td>@tags.price(price)</td>
                        <td>
                            @if(price.isDefined) {
                                <a href="@url" target="_blank" class="btn btn-primary">
                                    @icon("shopping-cart") Buy at @shop.name
                                </a>
                            } else {
                                <a href="@url" target="_blank" class="btn btn-outline-secondary">
                                    @icon("arrow-right") Go to @shop.name
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
