@import models.Book
@import services.shops.AbstractShop

@(book: Book, rating: Option[Int])

@layouts.main(book.title) {

    <div class="d-flex flex-row mb-5">
        <div>
            <a href="@book.coverUrl" target="_blank">
                <img src="@book.coverUrl" alt=" " class="book__cover mr-4">
            </a>
        </div>
        <div>
            <h1 class="book__title">@book.title <small class="text-muted">(@book.publicationYear)</small></h1>
            <h2 class="book__authors">@book.authors</h2>
            <div class="text-muted">
                ISBN-10: @book.isbn10.toPretty<br>
                ISBN-13: @book.isbn10.toIsbn13.toPretty
            </div>
            <div class="my-3">@tags.stars(book, rating)</div>
            @*
            @if(price.isDefined) {
                <div class="book__price">@tags.price(price.get)</div>
            } else {
                <span class="book__price__badge badge badge-secondary badge-outlined">Not available</span>
            }
            *@
        </div>
    </div>

    <div id="book__prices" class="text-center">
        <div id="book__prices__loading" class="jumbotron">
            <img src="@routes.Assets.versioned("images/loading.gif")" alt="">
        </div>
        <div id="book__prices__results"></div>
        <script>var isbn10 = "@book.isbn10.toString";</script>
    </div>

}
