@import models.isbn.Isbn10
@(averageRating: Double, ratingsCount: Long, book: Book = null)

<div class="stars">
    <div class="stars__icons@if(book != null) { stars__icons--rating}">
        @for(rating <- 1 to 5) {
            <div>
                @if(book != null) { <a href="@routes.RatingsController.rate(book.isbn10.toString, rating)"> }
                <i data-feather="star" class="star star--@if(rating <= averageRating.round.toInt) {filled} else {empty}"@* data-toggle="tooltip" data-placement="bottom" title="@{rating}.0" *@></i>
                @if(book != null) { </a> }
        }
        @for(rating <- 1 to 5) {
            </div>
        }
    </div>
    @BigDecimal(averageRating).setScale(2, BigDecimal.RoundingMode.HALF_EVEN).toDouble
    (@ratingsCount&nbsp;vote@if(ratingsCount != 1){s})
</div>