@import models.isbn.Isbn10

@(book: Book, rating: Option[Int])

<div class="stars">
    <div class="stars__icons stars__icons--@if(rating.isEmpty) {un}rated">
        @for(i <- 1 to 5) {
            <div>
                <a href="@routes.RatingsController.rate(book.isbn10.toString, i)">
                    <i data-feather="star" class="star star--@if(i <= rating.getOrElse(book.averageRating.round.toInt)) {filled} else {empty}"></i>
                </a>
        }
        @for(rating <- 1 to 5) {
            </div>
        }
    </div>

    @if(rating.isDefined) {
        <strong>@rating.0</strong>
        <a href="@routes.RatingsController.unrate(book.isbn10.toString)" class="text-muted stars__unrate">@tags.icon("x")</a>
    } else {
        @BigDecimal(book.averageRating).setScale(2, BigDecimal.RoundingMode.HALF_EVEN).toDouble
        (@book.ratingsCount&nbsp;vote@if(book.ratingsCount != 1){s})
    }
</div>