/*@import "lib/bootstrap-sass/assets/stylesheets/bootstrap";*/

$star-normal-color: gold;
$star-hover-color: limegreen;

body {
  padding-top: 90px;
  overflow-y: scroll;
}

/*
strong, .text-strong {
  font-weight: 600;
}
*/

.feather {
  height: 1.2rem;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.books__results {
  column-count: 2;
}

.book__cover--thumbnail {
  height: 147px;
}

.book__cover--full {
  float: left;
  margin: 0 2rem 2rem 0;
  height: calc(2 * 147px);
}

.book__authors {
  font-size: 1.6rem;
}

.book__title {
  font-size: 2.5rem;
}

.book__price {
  font-weight: 600;
  font-size: 2rem;
}

.stars__icons {
  font-size: 0;
  margin-right: 0.5rem;
  vertical-align: top;
  display: inline-block;
  white-space: nowrap;
}

.star {
  margin-right: 0.3rem;
  width: 1.6rem;
  height: 1.6rem; 
}

.stars__icons div {
  display: inline-block;
}

.stars__icons:not(.stars__icons--rating),
.stars__icons div:not(:hover) {
	.star {
	  stroke: $star-normal-color;
	}

	.star--filled {
	  fill: $star-normal-color;
	}

	.star--empty {
	  fill: none;		
	}
}

.star {
  stroke: $star-hover-color;
  fill: $star-hover-color;
}

.table-align-middle td {
  vertical-align: middle;
}

.shop-logo {
  max-width: 12rem;
  max-height: 2rem;
}