body {
    padding-top: 90px;
    overflow-y: scroll;
}

.feather {
     height: 1.2rem;
     stroke: currentColor;
     stroke-width: 2;
     stroke-linecap: round;
     stroke-linejoin: round;
     fill: none;
 }