@layouts.cover() {

    <h1 class="logo">
        <i data-feather="book-open" class="logo__icon"></i> Bookster
    </h1>

    <form action="@routes.BooksController.search(None)" method="get" id="form" class="mx-auto mt-4">
        <div class="input-group">
            <input type="text" name="q" placeholder="Title of the book, ISBN" aria-label="Title of the book, ISBN" id="query" class="form-control form-control-lg" value="" autocomplete="off" autofocus>
            <div class="input-group-append">
                <button type="submit" id="submit" class="btn btn-lg btn-primary">@tags.icon("search") Search</button>
            </div>
        </div>
    </form>

}
